body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 6em;
}

nav {
    display: flex;
    height: 6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.back {
    display: flex;
    width: 1em;
    height: 1em;
    border-radius: 1.5em;
    font-size: 1.4em;
    margin: 1em;
    cursor: pointer;
}

.back:hover {
    background-color: #f4f4f4;
}

.logo {
    display: flex;
    width: 18em;
    height: 18em;
    margin-left: -5em;
    margin-top: -6.2em;
}

nav input[type=button] {
    appearance: none;
    border: none;
    outline: none;
    border-radius: .2em .2em 0 0;
    font-size: 1.8em;
    cursor: pointer;
    touch-action: manipulation;
    margin: auto;
    margin-left: 17em;
    background-color: #fff;
}

nav input[type=button]:hover {
    color: #274F8B;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1.25em;
    overflow: hidden !important;
}

.grid1 {
    display: grid;
    width: auto;
}

.grid2 {
    display: grid;
    border-left: 1px solid;
    border-color: #EFEFEF;
    height: 100%;
}

img {
    display: flex;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    margin: auto;
    margin-top: 2em;
}

.form {
    margin: 1em;
    font-size: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 0.5em;
}

.icon {
    vertical-align: -20%;
    padding-right: 0.3em;
}

.space {
    padding: 2em;
}

.form .row .column input[type=text] {
    border: none;
    outline: none;
    border-bottom: .2em solid #274F8B;
    background: rgba(#274F8B, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    font-size: 1.125em;
    box-shadow: 10px 5px 5px #e3e3e3;
}

*:disabled {
    background-color: #fff;
}

input[type=email] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #274F8B;
    background: rgba(#274F8B, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    font-size: 1.125em;
    box-shadow: 10px 5px 5px #e3e3e3;
}

input[type=password] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #274F8B;
    background: rgba(#274F8B, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    font-size: 1.125em;
    box-shadow: 10px 5px 5px #e3e3e3;
}

input[type=date] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #274F8B;
    background: rgba(#274F8B, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    font-size: 1.125em;
    box-shadow: 10px 5px 5px #e3e3e3;
}

select {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #274F8B;
    background: rgba(#274F8B, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    font-size: 1em;
    font-size: 1em;
    box-shadow: 10px 5px 5px #e3e3e3;
}

.button-save {
    background-color: #274F8B;
    border-radius: 1.5em;
    border-style: none;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px #e3e3e3;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    margin: auto;
    max-width: 8em;
    min-height: 2.125em;
    min-width: 0.625em;
    outline: none;
    overflow: hidden;
    padding: 0.563em 1.25em 0.5em;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-save:hover,
.button-save:focus {
    opacity: .75;
}

.button-file {

    background-color: #274F8B;
    border-radius: 1.5em;
    border-style: none;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px #e3e3e3;
    color: #fff;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.5;
    margin: auto;
    margin-left: 6em;
    max-width: 8em;
    min-height: 2.125em;
    min-width: 0.625em;
    outline: none;
    overflow: hidden;
    padding: 0.5em 1.25em 0.5em;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-file:hover,
.button-file:focus {
    opacity: .75;
}

.button-file .icon {
    vertical-align: -10%;
}
/* Styles spécifiques pour les écrans plus petits */

@media only screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.25em;
        border-top: solid;
        border-color: #e3e3e3;
        overflow: hidden !important;
    }

    .grid1 {
        display: grid;
        width: auto;
    }

    .grid2 {
        display: grid;
        border: none;
        height: auto;
        width: auto;
    }

    img {
        display: flex;
        width: 12em;
        height: 12em;
        border-radius: 50%;
        margin: auto;
    }

    .btn {
        display: flex;
        font-size: 1.5em;
        margin: auto;
    }

    label:hover,
    label:active,
    input:hover+label,
    input:active+label {
        font-size: 1.55em;
        margin: auto;
        border-bottom: solid;
        border-color: #274F8B;
    }

    .form {
        display: flex;
        flex-direction: column;
        margin-left: -2em;
        width: auto;
    }

    .button-save {
        margin-right: 7em;
    }
}

@media only screen and (max-width: 400px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.25em;
        border-top: solid;
        border-color: #e3e3e3;
        overflow: hidden !important;
    }

    .grid1 {
        display: grid;
        width: auto;
    }

    .grid2 {
        display: grid;
        border: none;
        height: auto;
        width: auto;
    }

    img {
        display: flex;
        width: 12em;
        height: 12em;
        border-radius: 50%;
        margin: auto;
        margin-right: 11em;
    }

    .btn {
        display: flex;
        font-size: 1.5em;
        margin: auto;
        margin-right: 13em;
    }

    label:hover,
    label:active,
    input:hover+label,
    input:active+label {
        font-size: 1.55em;
        margin: auto;
        margin-left: 5.5em;
        border-bottom: solid;
        border-color: #274F8B;
    }

    .form {
        display: flex;
        flex-direction: column;
        margin-left: -2em;
        width: auto;
    }

    .button-save {
        margin-right: 8em;
    }
}