<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="body">
    <div class="grid-container">
        <div class="grid-child">
            <img src="../../assets/pp.jpg" class="pp">
        </div>
        <div class="grid-child">
            <div class="form">
                First Name * :
                <input type="text">
                Last Name * :
                <input type="text">
                Age * :
                <input type="text">
            </div>
            <div>
                Mail address * :
                <input type="email">
                Password * :
                <input type="password">
            </div>
            Language Speaking * :
                <select>
                    <option>
                        English
                    </option>
                    <option>
                        French
                    </option>
                    <option>
                        Spanish
                    </option>
                    <option>
                        Chinese
                    </option>
                    <option>
                        Arabic
                    </option>
                    <option>
                        Russian
                    </option>
                    <option>
                        Portuguese
                    </option>
                </select>
                <div>
                    <button class="button-save" role="button">Save</button>
                </div>
        </div>
    </div>
</body>
</html>
