<footer>
    <div class="footer">
        <div class="footer-section">
            <h4>Assistance</h4>
            <ul>
                <li><a href="#">How Airbnb works</a></li>
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Airbnb Plus</a></li>
                <li><a href="#">Airbnb Luxe</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Accueil de voyageurs</h4>
            <ul>
                <li><a href="#">Diversity & Belonging</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Airbnb Associates</a></li>
                <li><a href="#">Host Afghan refugees</a></li>
                <li><a href="#">Guest Referrals</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Seabnb</h4>
            <ul>
                <li><a href="#">Host your home</a></li>
                <li><a href="#">Host an Online Experience</a></li>
                <li><a href="#">Host an Experience</a></li>
                <li><a href="#">Responsible hosting</a></li>
                <li><a href="#">Resource Center</a></li>
            </ul>
        </div>
        <div class="horizontal_line">
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-right">
            <p>© 2021 Seabnb, Inc. All rights reserved</p>
            <a href="#">Confidentialité</a>
            <a href="#">Conditions</a>
            <a href="#">Plan du site</a>
            <a href="#">Fonctionnement du site</a>
            <a href="#">Infos sur l'entreprise</a>
        </div>
    </div>
</footer>