<!DOCTYPE html>
<html lang="en">

<app-navbar></app-navbar>

<body>
<div class="title">
  <p class="p1">Hello Captain !</p>
  <p class="p2">Your boat will soon be visible to the largest community of sailors who wish to rent privately.
    Welcome to SeaBnB!</p>
</div>

<div class="title-container">
  <p>Your Boat</p>
</div>
<div class="titleType">
  <p>Type</p>
  <div class="button-container">
    <div *ngFor="let boat of boats">
      <button (click)="toggleBackgroundColor(boat)"
              [ngClass]="{'btnType': !boat.isActive, 'active': boat.isActive}">
        <div class="contentWrapper">
          <img [src]="boat.imagePath" class="imgType">
          <p class="textType">{{ boat.name }}</p>
        </div>
      </button>
    </div>
  </div>
</div>
<div class="form-container">
  <div class="col">
    Boat's name : <input type="text">
    City : <input type="text">
    Is your boat rented with skipper ?
    <select>
      <option disabled selected value="">Select...</option>
      <option>With</option>
      <option>Without</option>
    </select>
    Constructor : <input type="text">
    Lenght (m) : <input type="number">
    Is your boat motorized ?
    <select [(ngModel)]="selectedOption" id="choix" name="choix">
      <option value="option1">Yes</option>
      <option value="option2">No</option>
    </select>
    <input class="spacer" type="text">

  </div>
  <div class="col">
    Country : <input type="text">
    Port : <input type="text">
    Bail amount : <input type="number">
    Year of construction : <input type="text">
    Width (m) : <input type="number">
    <label *ngIf="selectedOption !== 'option2'" for="inputText">Enigne's name</label>
    <input *ngIf="selectedOption !== 'option2'" [(ngModel)]="inputText" id="inputText" name="inputText"
           type="text">
    <label *ngIf="selectedOption !== 'option2'" for="inputText">Max speed</label>
    <input *ngIf="selectedOption !== 'option2'" [(ngModel)]="inputText" id="inputText" name="inputText"
           type="text">
  </div>
</div>
<div>
  <button (click)="onSubmit()" class="button-save" type="submit">Save</button>
</div>
<p class="picture">Picture</p>
<div class="text1">
  Drag and drop here to upload your photos
</div>
<div class="text2">
  For the cover, choose a photo that shows the boat as a whole. Next, add more photos of the details and interior
  of the boat.
</div>
<div (dragover)="onDragOver($event)" (drop)="onDrop($event)" class="drop-container">
  <ng-icon class="icon" name="heroCamera"></ng-icon>
  <p class="text-below-icon">Drag and drop images here</p>
</div>
<div class="imgDropped-container">
  <div *ngFor="let image of images; let i = index" class="imgDropped">
    <img [src]="image" alt="Image">
    <button (click)="deleteImage(i)" class="delete-button">
      <ng-icon class="icon"
               name="heroTrash"></ng-icon>
    </button>
  </div>
</div>
<div class="imgDropped-container">
  <div *ngFor="let image of images; let i = index" class="imgDropped">
    <img [src]="image" alt="Image">
    <button (click)="deleteImage(i)" class="delete-button">
      <ng-icon class="icon" name="heroTrash"></ng-icon>
    </button>
  </div>
</div>
<p class="picture">Mandatory Files</p>
<div class="text1">
  Drag and drop here to add your files
</div>
<div class="text2">
  To add your boat, please add your id card, registration certificate, registration port and annual taxes.
</div>
<div (dragover)="onDragOver($event)" (drop)="onDropDocument($event)" class="drop-container">
  <ng-icon class="icon" name="heroDocumentPlus"></ng-icon>
  <p class="text-below-icon">Drag and drop documents here</p>
</div>
<div class="documentDropped-container">
  <div *ngFor="let document of documents; let i = index" class="documentDropped">
    <p>{{ document.name }}</p>
    <button (click)="deleteDocument(i)" class="delete-button">
      <ng-icon class="icon" name="heroTrash"></ng-icon>
    </button>
  </div>
</div>
</body>
<app-footer></app-footer>
</html>
