<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<app-navbar></app-navbar>
<body>
    <button class="button" routerLink="/boats">Add boat</button>
    <h2>Your properties</h2>
    <div class="article">
        <label>Properties 1</label>
        <div class="container">
            <div class="inner-div">
                <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam augue nunc, pellentesque a laoreet ut, interdum quis odio. Cras rutrum quis nibh nec facilisis. Quisque justo quam, gravida sit amet faucibus sit amet, volutpat id lorem. Sed eget interdum justo. Duis mollis leo lectus, vel tincidunt nibh pulvinar ut.</label>
            </div>
            <div class="inner-div">
                <img src="../../assets/images/logo2.png" class="img">
            </div>
        </div>
    </div>
    <div class="article">
        <label>Properties 2</label>
        <div class="container">
            <div class="inner-div">
                <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam augue nunc, pellentesque a laoreet ut, interdum quis odio. Cras rutrum quis nibh nec facilisis. Quisque justo quam, gravida sit amet faucibus sit amet, volutpat id lorem. Sed eget interdum justo. Duis mollis leo lectus, vel tincidunt nibh pulvinar ut.</label>
            </div>
            <div class="inner-div">
                <img src="../../assets/images/logo2.png" class="img">
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
</html>