<header>
  <div class="dontmove">
    <nav class="navbar">
      <div class="logo-container" routerLink="/home">
        <img class="logo1" src="../../assets/images/logo2.png">
        <img *ngIf="!isScreenNineHundred" class="logo2" src="../../assets/images/logo.png">
      </div>

      <div *ngIf="isHomePage">
        <a *ngIf="!isScreenSevenHundred" class="search" href="#section-id">
          <span class="link">Anywhere</span>
          <span class="link">Any week</span>
          <span class="link">Add guest</span>
          <div class="icon-container">
            <img class="logo4" src="../../assets/images/loupe.png">
          </div>
        </a>
      </div>

      <div class="right-bar">
        <div *ngIf="!isScreenSevenHundred" class="user-profile">
          <a class="link" href="#">SeaBnB your home</a>
        </div>

        <div (click)="openModal()" class="user-profile_menu">
          <a class="sectionId">
            <ng-icon class="logo3" name="heroBars3"></ng-icon>
            <ng-icon class="logo5" name="heroUserCircle"></ng-icon>
          </a>
        </div>
      </div>
    </nav>
    <div class="horizontal_line">
    </div>
  </div>
  <div (click)="closeModal()" *ngIf="showModal" class="overlay">
    <div *ngIf="showModal" class="modal">
      <div class="modal-content">
        <span (click)="closeModal()" *ngIf="!isScreenSevenHundred" class="close">&times;</span>
        <button *ngIf="!isLoggedIn()" class="BtnMenu" routerLink="/login">Log In</button>
        <button *ngIf="!isLoggedIn()" class="BtnMenu" routerLink="/register">Register</button>
        <button *ngIf="isLoggedIn()" class="BtnMenu" routerLink="/profile">Your profile</button>
        <button class="BtnMenu" routerLink="/boats">Add boat</button>
        <button class="BtnMenu" routerLink="/properties">Your properties</button>
        <button (click)="logOut()" *ngIf="isLoggedIn()" class="BtnMenu">Sign out</button>
      </div>
    </div>
  </div>
</header>
