<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>Log in</title>
</head>
<body>

<a href="/home">
  <img alt="logo" class="logo" src="../../assets/images/logo.png"/>
</a>

<div class="login-card">
  <h2 class="login-card-title">Log in to SeaBnB</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div *ngIf="emailAddress?.invalid && (emailAddress?.dirty || emailAddress?.touched)">
      <div *ngIf="getControlErrors('emailAddress')?.required" class="errorOnForm">
        Email is required.
      </div>
      <div *ngIf="getControlErrors('emailAddress')?.emailAddress" class="errorOnForm">
        Email must be a valid email address.
      </div>
    </div>
    <input
      formControlName="emailAddress"
      id="emailAddress"
      placeholder="Email"
      required
      type="email"
    />

    <!-- Password input and error messages -->
    <div
      *ngIf="password?.invalid && (password?.dirty || password?.touched)"
    >
      <div
        *ngIf="getControlErrors('password')?.required"
        class="errorOnForm"
      >
        Password is required.
      </div>
    </div>
    <input
      formControlName="password"
      id="password"
      placeholder="Password"
      type="password"
    />

    <button [disabled]="!loginForm.valid" type="submit">Login</button>


    <a href="/register">Sign up</a>
  </form>
</div>
</body>
</html>
