<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <!-- Email input and error messages -->
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <div *ngIf="getControlErrors('email')?.required">
        Email is required.
      </div>
      <div *ngIf="getControlErrors('email')?.email">
        Email must be a valid email address.
      </div>
    </div>
  </div>

  <!-- Password input and error messages -->
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
      <div *ngIf="getControlErrors('password')?.required">
        Password is required.
      </div>
      <div *ngIf="getControlErrors('password')?.minlength">
        Password must be at least {{ getControlErrors('password')?.minlength?.["requiredLength"] }} characters long.
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
