<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Ma Page Web</title>
  <link rel="stylesheet" type="text/css" href="home-content.component.css">
</head>

<body>
  <header>
    <h1>Titre de ma Page Web</h1>
  </header>
  <main>
    <p>
      Bienvenue sur ma page Web ! Cette page est un exemple HTML
      étendu avec des styles CSS en ligne et un fichier CSS externe.
      Vous pouvez personnaliser davantage cette page en ajoutant
      plus de contenu et en modifiant les styles CSS.
    </p>
    <p>
      N'hésitez pas à explorer, à ajouter des éléments, des images
      et à expérimenter avec les styles pour créer votre propre
      page Web unique.
    </p>
  </main>
</body>

</html>