
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home page</a></li>
    <li><a routerLink="/profil" routerLinkActive="active" ariaCurrentWhenActive="page">Profil page</a></li>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login page</a></li>
    <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Sign up page</a></li>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
