<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<app-navbar></app-navbar>
<body>
        <div class="container">
            <div class="cart">   
                <img src="../../assets/images/logo2.png">
                <div class="label">
                    <label>Name of properties</label>
                    <label>Date of reservation</label>
                </div>
            </div>
        </div>    
    <div class="container">
        <div class="cart">   
            <img src="../../assets/images/logo2.png">
            <div class="label">
                <label>Name of properties</label>
                <label>Date of reservation</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cart">   
            <img src="../../assets/images/logo2.png">
            <div class="label">
                <label>Name of properties</label>
                <label>Date of reservation</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cart">   
            <img src="../../assets/images/logo2.png">
            <div class="label">
                <label>Name of properties</label>
                <label>Date of reservation</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cart">   
            <img src="../../assets/images/logo2.png">
            <div class="label">
                <label>Name of properties</label>
                <label>Date of reservation</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cart">   
            <img src="../../assets/images/logo2.png">
            <div class="label">
                <label>Name of properties</label>
                <label>Date of reservation</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cart">   
            <img src="../../assets/images/logo2.png">
            <div class="label">
                <label>Name of properties</label>
                <label>Date of reservation</label>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
</html>