<html>
<app-navbar></app-navbar>

<body>
    <section class="reservation-page">
        <article class="club-info">
            <h1 id="club-title">Titre du club</h1>
            <p id="club-location">Localisation</p>
            <div class="image-container">
                <img class="large-image"
                    src="https://media.istockphoto.com/id/498283106/fr/photo/sous-marine-de-plongeur-explorer-et-profiter-de-la-vie-aquatique-de-coral-reef.jpg?s=612x612&w=0&k=20&c=wmoEpVIsNOCPIiNVBS3vB71mJJczvOqm-OYHG5uRFR0="
                    alt="Grande image" />

                <div class="small-images">
                    <img class="small-image"
                        src="https://media.istockphoto.com/id/498283106/fr/photo/sous-marine-de-plongeur-explorer-et-profiter-de-la-vie-aquatique-de-coral-reef.jpg?s=612x612&w=0&k=20&c=wmoEpVIsNOCPIiNVBS3vB71mJJczvOqm-OYHG5uRFR0="
                        alt="Petite image 1" />
                    <img class="small-image rounded-image"
                        src="https://media.istockphoto.com/id/498283106/fr/photo/sous-marine-de-plongeur-explorer-et-profiter-de-la-vie-aquatique-de-coral-reef.jpg?s=612x612&w=0&k=20&c=wmoEpVIsNOCPIiNVBS3vB71mJJczvOqm-OYHG5uRFR0="
                        alt="Petite image 2" />
                    <img class="small-image"
                        src="https://media.istockphoto.com/id/498283106/fr/photo/sous-marine-de-plongeur-explorer-et-profiter-de-la-vie-aquatique-de-coral-reef.jpg?s=612x612&w=0&k=20&c=wmoEpVIsNOCPIiNVBS3vB71mJJczvOqm-OYHG5uRFR0="
                        alt="Petite image 3" />
                    <img class="small-image rounded-image"
                        src="https://media.istockphoto.com/id/498283106/fr/photo/sous-marine-de-plongeur-explorer-et-profiter-de-la-vie-aquatique-de-coral-reef.jpg?s=612x612&w=0&k=20&c=wmoEpVIsNOCPIiNVBS3vB71mJJczvOqm-OYHG5uRFR0="
                        alt="Petite image 4" />
                </div>
            </div>
            <div class="container">
                <div class="left-column">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                        consectetur, nisl vitae tincidunt ultricies, nunc nisl aliquam nunc,
                        vitae aliquam nisl nunc vitae nisl. Nullam consectetur, nisl vitae
                        tincidunt ultricies, nunc nisl aliquam nunc, vitae aliquam nisl nunc
                        vitae nisl.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam consectetur, nisl vitae tincidunt ultricies, nunc nisl aliquam
                        nunc, vitae aliquam nisl nunc vitae nisl.
                        <br />
                        Nullam consectetur, nisl vitae tincidunt ultricies, nunc nisl aliquam
                        nunc, vitae aliquam nisl nunc vitae nisl.Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Nullam consectetur, nisl vitae tincidunt
                        ultricies, nunc nisl aliquam nunc, vitae aliquam nisl nunc vitae nisl.
                        Nullam consectetur, nisl vitae tincidunt ultricies, nunc nisl aliquam
                        nunc, vitae aliquam nisl nunc vitae nisl.
                    </p>
                </div>
                <div class="right-column">
                    <h2>80€ par jour</h2>
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                        <label for="date">Date :</label>
                        <input type="date" id="date" name="date" [min]="minDate" [ngModelOptions]="{ updateOn: 'blur' }"
                            [ngModel]="selectedDate" (ngModelChange)="onDateChange($event)" required />

                        <label for="heure">Heure :</label>
                        <select id="heure" name="heure" ngModel required>
                            <option *ngFor="let slot of availableSlots" [value]="slot.value">
                                {{ slot.label }}
                            </option>
                        </select>

                        <label for="nombrePlongeurs">Nombre de jour :</label>
                        <input type="number" id="nombrePlongeurs" name="nombrePlongeurs" min="1" ngModel required />

                        <button type="submit">Réserver</button>
                    </form>
                </div>
            </div>
            <div class="map">
                <h2>Où se situe le club</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1487125.8891803087!2d1.523176211232769!3d43.28195427423493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b13b4ee912614d%3A0x691838a8d1b64e02!2zQsOpbG91Z2EgUGxvbmfDqWU!5e0!3m2!1sen!2sfr!4v1703069122723!5m2!1sen!2sfr"
                    width="100%" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>
    </section>
</body>
<app-footer></app-footer>

</html>