<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <nav class="navbar">
        <div class="logo-container">
            <img class="logo1" src="../../assets/images/logo2.png">
            <img class="logo2" src="../../assets/images/logo.png">
        </div>

        <div>
            <a class="search" href="#section-id">
                <span class="link">Anywhere</span>
                <span class="link">Any week</span>
                <span class="link">Add guest</span>
                <div class="icon-container">
                    <img class="logo4" src="../../assets/images/loupe.png">
                </div>
            </a>
        </div>

        <div class="right-bar">
            <div class="user-profile">
                <a class="link" href="#section-id">SeaBnB your home</a>
            </div>

            <div class="user-profile_menu">
                <a href="#section-id" class="sectionId">
                    <ng-icon class="logo3" name="heroBars3"></ng-icon>
                    <ng-icon class="logo5" name="heroUserCircle"></ng-icon>
                </a>
            </div>
        </div>
    </nav>
    <div class="horizontal-line">
        <div class="filter-container">
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
            <div class="filter-item">Filter 1</div>
            <div class="filter-item">Filter 2</div>
            <div class="filter-item">Filter 3</div>
        </div>
    </div>
</body>

</html>