@font-face {
    font-family: 'Inter';
    src: url('../../assets/polices/Inter-VariableFont_slnt_wght.ttf') format('truetype');
}

/*En dessous Css pour les Filtres*/

.colorfilter {
    width: 95%;
    position: sticky;
    top: 95px;
    background-color: white;
    z-index: 98;
}

.selected {
    background-color: rgb(175, 175, 175);
}

.filter-container {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 0.5em;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    margin-top: 1.5em;
}

.filter-container::-webkit-scrollbar {
    width: 5px;
}

.filter-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.filter-item {
    display: inline-block;
    margin-right: 1em;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.filter-item:hover {
    background-color: #f0f0f0;
}


/*En dessous css pour les bateaux*/

.image-grid {
    display: grid;
    margin-top: 6.5em;
    width: 95%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}

.image-item {
    height: 250px;
    position: relative;
    overflow: hidden;
    padding-bottom: 6em;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.designText {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -0.4em;
    margin-bottom: 1em;
}

.link2 {
    text-decoration: none;
    color: black;
}

.logo6 {
    margin-right: 0.2em;
    font-size: 0.8em;
}

.centerstars {
    display: flex;
    align-items: baseline;
}

.money {
    font-weight: bold;
}

h4 {
    margin: 0;
}

.image-caption {
    padding: 8px;
}

.image-caption p {
    margin: 4px 0;
}

.centerbody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-content {
    text-align: center;
    padding: 20px;
    margin-bottom: 1.5em;
}

.load-more-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.load-more-btn:hover {
    background-color: #333333;
}

.gras {
    font-size: 1.2em;
}