body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #484848;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

a {
  color: slategrey;
  margin-top: 1rem; /* Adds some top margin for spacing */
  justify-content: center;
  align-items: center;
  display: flex;
}

.errorOnForm {
  color: #ff291e;
  font-size: 0.8rem;
  padding: 2px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.signup-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: #fff;
}

.signup-card form {
  display: flex;
  flex-direction: column;
}

.signup-card input {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.signup-card button {
  padding: 12px;
  background-color: #2c5ca3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-card button:hover {
  background-color: #274F8B;
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.social-login button {
  flex-grow: 1;
  margin: 2px;
}

.signup-card-title {
  margin: 0 0 20px 0;
  font-size: 24px;
  text-align: center;
}

.login-link-container {
  text-align: center;
  margin-top: 12px;
}

.login-link {
  color: rgb(128, 128, 128);
  text-decoration: none;
  font-size: 0.7rem;
  margin: 13px;
}

.login-link:hover {
  text-decoration: underline;
}

.divider-or {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider-or:before,
.divider-or:after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.divider-or span {
  margin: 0 10px;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f44336; /* Red for error messages */
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* To make sure it appears above other elements */
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  transform: translateY(100px);
  visibility: hidden;
  opacity: 0;
}

.notification.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
