<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>

<div class="signup-card">
  <h2 class="signup-card-title">Sign up to SeaBnB</h2>
  <form>
    <input type="text" placeholder="First Name" required>
    <input type="text" placeholder="Last Name" required>
    <input type="email" placeholder="Email Address" required>
    <input type="password" placeholder="Password" required>
    <input type="password" placeholder="Confirm password" required>
    <input type="date" required>
    <button type="submit">Sign Up</button>
<!--    <div class="divider-or">-->
<!--      <span>or</span>-->
<!--    </div>-->
<div class="login-link-container">
    <a href="/login" class="login-link"> Login page </a>
</div>
  </form>

</div>
</body>
</html>
